.container {
  position: relative;
  border-radius: 15px;
  padding: 80px;
  margin: 100px auto;
  width: 95%;
  max-width: 1100px;
  z-index: 1;
}

.title {
  color: #ffffff; /* título branco puro */
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

/* Metas */
.goalsContainer {
  flex: 1;
  min-width: 300px;
  max-width: 450px;
  padding: 25px;
  color: var(--color-text);
}

/* Habilidades técnicas */
.aboutItems {
  flex: 1;
  min-width: 300px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--color-text);
}

/* Gráfico */
.chartContainer {
  margin-top: 25px;
  text-align: center;
}

.chartContainer canvas {
  max-width: 240px !important;
  margin: 0 auto;
}

/* Responsivo */
@media screen and (max-width: 830px) {
  .container {
    width: 95%;
    padding: 40px 20px;
  }

  .content {
    flex-direction: column;
    gap: 50px;
  }

  .goalsContainer,
  .aboutItems {
    width: 100%;
    max-width: none;
  }

  .chartContainer canvas {
    max-width: 200px !important;
  }
}

.goalItem {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 10px;
  color: var(--color-text);
  margin-bottom: 12px; /* espaçamento entre os objetivos */
}


.checkbox {
  width: 18px;
  height: 18px;
  accent-color: green;
}

